.first{
  background-Image: url(../public/intro.jpg);
  background-Size: cover;
  background-Repeat: no-repeat;
  width:100vw;
   height:100vh;
}

.second{
  border-Top-Color: rgb(255,255,255);
  border-Right-Color: rgb(255,255,255);
  border-Bottom-Color: rgb(255,255,255);
  border-Left-Color: rgba(255,255,255,0);
}

.third{
  background-Color:#ffffff;
  opacity: 0.71;
  border-Top-Left-Radius: 10px;
  border-Top-Right-Radius: 10px;
  border-Bottom-Right-Radius: 10px;
  border-Bottom-Left-Radius: 10px;
  border-Style: solid;
  border-Top-Color: rgba(255,255,255,0);
}

.fourth{
  color: rgb(0,0,0);
  font-Size: 70px;
}

.fifth{
  background-Color: rgba(225,220,232,0);
  border-Top-Width: 2px;
  border-Top-Color: rgb(0,0,0);
}

.sixth{
  color: rgb(0,0,0);
  border-Top-Left-Radius: 1px;
  border-Top-Right-Radius: 1px;
  border-Bottom-Right-Radius: 1px;
  border-Bottom-Left-Radius: 1px;
  box-Shadow: 0px 0px 10px 0px rgb(0,0,0);
  border-Width: 1px;
  border-Color: rgb(0,0,0);
  border-Top-Width: 1px;
  border-Top-Color: rgb(0,0,0);
  background-Color: rgb(255,255,255);
}

.seventh{
  color: var(--bs-black);
  border-Color: #0e0101;
}

.eighth{
  background-Image: url(../public/2.jpg);
  background-Size: cover;
}

.ninth{
  color: rgb(255,255,255);
  background-Color: rgba(255,255,255,0);
}

.tenth{
  background-Color: rgba(248,249,250,0.8);
  color: var(--bs-white);
  border-Top-Left-Radius: 10px;
  border-Top-Right-Radius: 10px;
  border-Bottom-Right-Radius: 10px;
  border-Bottom-Left-Radius: 10px;
}

.eleventh{
  color: rgb(0,0,0);
}

.twelfth{
  background-Color: var(--bs-border-color-translucent);
  color: rgb(0,0,0);
  border-Top-Color: #000000;
  border-Right-Color: rgb(0,0,0);
  border-Bottom-Color: #000000;
  border-Left-Color: rgb(0,0,0);
}