.tablefirst{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255,250,250);
    width: auto;
}

.tablesecond{
    background: rgba(0,0,0,0);
    margin: 10px;
    width: auto;
}

.tablethird{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.41);
    border-top-width: 2px;
    border-right: 2px solid rgba(0,0,0,0.4);
    border-bottom-width: 2px;
    border-left-width: 2px;
    background: rgba(255,108,1,0.22);
    height: 110px;
    padding-right: 15px;
    margin-right: 6px;
    width: auto;
}

.tablefourth{
    border-radius: 2px;
    background: rgba(255,107,0,0);
    border-right: 4px solid rgb(255,255,255);
    border-bottom-width: 3px;
    height: 110px;
    width: 210px;
}

.tableh1{
    width: 200px;
    color: rgb(0,0,0);
    margin-bottom: 35px;
    overflow: visible;
    font-size: 27px;
}

.tablefifth{
    border-width: 3px;
    border-color: rgb(0,0,0);
    background: rgba(255,255,255,0);
    height: 110px;
    width: auto;
}

.tablesixth{
    width: 200px;
    padding-right: 0px;
    margin-right: 2px;
}

.tableseventh{
    background: #e28c05;
}

.tableeighth{
    color: rgb(0,0,0);
    text-align: left;
}

.first{
    background-image: url(../public/bg_vertical.jpg);
    background-color: rgba(255,255,255,0);
    background-Size: cover, auto;
    background-repeat: no-repeat;
}

.second{
    margin-top: 120px;
    background: rgba(243,217,187,0.52);
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.third{
    padding-right: 10px;
    padding-left: 10px;
}

.sec1h2{
    color: rgb(0,0,0);
}

.fourth{
    color: rgb(0,0,0);
    background: rgba(230,155,86,0.4);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
}

/*start modding cart section*/
.fifth{
    width: auto;
}

.sixth{
    background: #e69b5666;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    width: auto;
}

.seventh{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255,250,250);
    width: auto;
    padding-left: 10px;
}

.eighth {
    background: rgba(0,0,0,0);
    margin: 10px;
    width: auto;
}

.ninth{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.41);
    border-top-width: 2px;
    border-right: 2px solid rgba(0,0,0,0.4);
    border-bottom-width: 2px;
    border-left-width: 2px;
    background: rgba(255,108,1,0.22);
    height: 110px;
    padding-right: 15px;
    margin-right: 6px;
    width: auto;
    padding-left: 10px;
}

.tenth{
    border-width: 3px;
    border-color: rgb(0,0,0);
    background: rgba(255,255,255,0);
    height: 110px;
    width: 200px;
}

.eleventh{
    background: #e28c05;
}

.sec2p1{
    color: rgb(0,0,0);
    text-align: left;
}

.sec2p2{
    color: rgb(0,0,0);
    text-align: left;
}
.sec2h4{
    color: rgb(0,0,0)
}


